@model MVC5Course.Models.Client

@{
    ViewBag.Title = "Details";
    if (IsAjax)
    {
        Layout = "";
    }
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3>完整版DisplayForModel</h3>
            @Html.DisplayForModel()
        </div>
        <div class="col-md-6">
            <h3>簡單版DisplayForModel</h3>
            @Html.DisplayForModel("Client.簡單版")
        </div>
    </div>

    <h3>Client's Order List</h3>

    @* 1.使用Action *@
    @*@Html.Action("index", "Orders", new { ClientID = Model.ClientId })*@

    @* 2.使用Partial *@
    @Html.Partial("OrderListPartial", Model.Order.ToList())

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
