<ol>
    <li>練習 FileResult 的各種用法 ( @Html.ActionLink("檔案路徑","File4","AR"), @Html.ActionLink("指定 Content-Type","File4","AR"), @Html.ActionLink("byte[]","File2","AR"), @Html.ActionLink("強制下載檔案","File3","AR") )</li>
    <li>練習 @Html.ActionLink("JsonResult","JSON","AR") 的用法</li>
    <li>練習 @Html.ActionLink("RedirectResult","Redir301","AR")、@Html.ActionLink("HttpNotFound","Page404","AR") 與 @Html.ActionLink("HttpStatusCodeResult", "Page400", "AR") 的用法</li>
    <li>練習 @Html.ActionLink("ViewData.Model","Index","MB") , @Html.ActionLink("ViewData, ViewBag 與 TempData","DataTrans","MB") 的使用方式</li>
    <li>練習簡單模型繫結 (@Html.ActionLink("string","Simple1","MB"), @Html.ActionLink("FormCollection","Simple2","MB")) 與 複雜模型繫結 (@Html.ActionLink("Simple1ViewModel","Complex1","MB") , @Html.ActionLink("多表單","Complex2","MB"))</li>
    <li>練習較為複雜的模型繫結技巧 ( @Html.ActionLink("自訂 Prefix","Complex3","MB") 與 @Html.ActionLink("IList<t>","Complex4","MB") 繫結 )</li>
    <li>練習在 Controller/Action 中進行 @Html.ActionLink("模型繫結與延遲驗證","Complex5","MB") 的方法</li>
</ol>

